body {
  background: #06a77d;
}

.header-name {
  display: grid;
  justify-content: center;
  color: beige;
  font-family: JetBrains Mono;
}
.subheader-name {
  display: grid;
  justify-content: center;
  color: beige;
  font-family: JetBrains Mono;
}

.client-infos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  color: #003d2d;
  font-family: JetBrains Mono;
  margin-bottom: 100px;
}
.logo-img {
  display: grid;
  margin-top: -20px;
  justify-content: center;
}
.container {
  display: grid;
  background: beige;
  width: 700px;
  height: 600px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -480px;
  border-radius: 5% 5% 5% 5%;
}
.formulario-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -580px;
  padding: auto;
  width: 100%;
  height: 100%;
  margin-right: -10;
}
.botao {
  margin-top: 15px;
  align-items: center;
  display: grid;
  background-color: #06a77d;
  color: beige;
  font-family: JetBrains Mono;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-right: 40px;
  margin-left: 40px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.botao-delete {
  margin-top: 15px;
  align-items: center;
  background-color: #ff0202;
  color: beige;
  margin-right: 40px;
  margin-left: 40px;
  font-family: JetBrains Mono;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

.input-form {
  margin-top: 70px;
  margin-bottom: 36px;
  width: 500px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
  background-color: #06a77d;
  color: beige;
  font-size: 20px;
  font-family: JetBrains Mono;
}

.confirmar {
  display: grid;
  justify-content: center;
  margin-top: -10px;
  color: #003d2d;
  font-family: JetBrains Mono;
  margin-left: 50px;
}
/*AQUI É DO CHECKBOX DE DELETE E ATUALIZAR NAO MEXER CARAIO*/
/* Genel stil */
.toggle-switch {
  position: relative;
  justify-content: center;
  width: 48.4px;
  height: 26.4px;
  margin: 0 auto;
  margin-top: -110px;
  margin-right: 1166px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 48.4px;
  height: 26.4px;
  background-color: #ff0000;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 6px;

  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/*AQUI É A PORRA DA NAV BAR CARAIO NAO MEXE PRA NAO ESTREGAR 
SE NAO TU TA FUDIDO PRA ARRUMAR DEPOIS */

#menu {
  background: #06a77d;
  height: 65px;
  border-radius: 0px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  height: 90%;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 95%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#menu li {
  display: inline-block;
  position: relative;
  margin-top: -1px;
}
#menu a {
  display: inline;
  line-height: 45px;
  padding: 0 50px;
  text-decoration: none;
  color: beige;
  font-size: 18px;
  font-family: JetBrains Mono;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
  text-align: center;
}
#menu li a:hover {
  color: #0099cc;
  background: #f2f2f2;
  margin-top: 10;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 95%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  color: #ffffff;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  font-family: JetBrains Mono;
  height: auto;
  overflow: hidden;
  width: 100%;
  background: #fffff3;
  position: absolute;
  z-index: 99;
  display: none;
  margin-right: -40px;
}
#menu ul.sub-menus li {
  display: block;
  text-align: center;
  width: 95%;
  margin-right: -18px;
}
#menu ul.sub-menus a {
  color: #2a6ac0;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  margin-right: 46px;
}
#menu li:hover ul.sub-menus {
  display: block;
  text-align: center;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #2a6ac0;
}
@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #fffff3;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    text-align: left;
  }
  #menu ul.sub-menus {
    width: 95%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: #ffffff;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}
