
.botao {
  background-color: #ffffff;
  color: rgb(32, 143, 56);
  text-align: center;
  border-radius: 10px;
  padding: 2px;
  width: 10px;
  font-family: JetBrains Mono;
}

table.greenTable {
    font-family: 'JetBrains Mono', monospace;
    border: 6px solid #06A77D;
    background-color: #D4EED1;
    width: 100%;
    text-align: center;
    
  }
  table.greenTable td, table.greenTable th {
    border: 1px solid #06A77D;
    padding: 3px 2px;
    
  }
  table.greenTable tbody td {
    font-size: 13px;
    font-family: 'JetBrains Mono', monospace;
  }
  table.greenTable thead {
    background: #06A77D;
    background: -moz-linear-gradient(top, #06A77D 0%, #06A77D 66%, #06A77D 100%);
    background: -webkit-linear-gradient(top, #06A77D 0%, #06A77D 66%, #06A77D 100%);
    background: linear-gradient(to bottom, #06A77D 0%, #06A77D 66%, #06A77D 100%);
    border-bottom: 0px solid #444444;
  }
  table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid #06A77D;
  }
  table.greenTable thead th:first-child {
    border-left: none;
  }
  
  table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: #06A77D;
    background: -moz-linear-gradient(top, #06A77D 0%, #06A77D 66%, #06A77D 100%);
    background: -webkit-linear-gradient(top, #06A77D 0%, #06A77D 66%, #06A77D 100%);
    background: linear-gradient(to bottom, #06A77D 0%, #06A77D 66%, #06A77D 100%);
    border-top: 1px solid #06A77D;
    
  }
  table.greenTable tfoot td {
    font-size: 13px;
    border-radius: 50px;
  }
  table.greenTable tfoot .links {
    text-align: right;
    border-radius: 50px;
  }
  table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #06A77D;
    padding: 2px 8px;
    border-radius: 5px;
  }