@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    
    --warning: rgba(255, 221, 0, 1);
    --disabled: rgba(97, 139, 194, 1);
    --info: rgba(42, 106, 255, 1);
    --errors: rgba(243, 29, 37, 1);
    --success: rgba(6, 167, 125, 1);
    --principalverde-principal: rgba(6, 167, 125, 1);
    --principalazul-principal: rgba(42, 106, 192, 1);
    --principalbranco-background: rgba(255, 255, 243, 1);
    --stara-subtitles-stara-font-family: "Stara", Helvetica;
    --stara-subtitles-stara-font-weight: 600;
    --stara-subtitles-stara-font-size: 20px;
    --stara-subtitles-stara-letter-spacing: 0px;
    --stara-subtitles-stara-line-height: normal;
    --stara-subtitles-stara-font-style: normal;
    --stara-h4-stara-font-family: "Stara", Helvetica;
    --stara-h4-stara-font-weight: 700;
    --stara-h4-stara-font-size: 36px;
    --stara-h4-stara-letter-spacing: 0px;
    --stara-h4-stara-line-height: normal;
    --stara-h4-stara-font-style: normal;
    --stara-h3-stara-font-family: "Stara", Helvetica;
    --stara-h3-stara-font-weight: 700;
    --stara-h3-stara-font-size: 40px;
    --stara-h3-stara-letter-spacing: 0px;
    --stara-h3-stara-line-height: normal;
    --stara-h3-stara-font-style: normal;
    --stara-h2-stara-font-family: "Stara", Helvetica;
    --stara-h2-stara-font-weight: 700;
    --stara-h2-stara-font-size: 48px;
    --stara-h2-stara-letter-spacing: 0px;
    --stara-h2-stara-line-height: normal;
    --stara-h2-stara-font-style: normal;
    --stara-h1-stara-font-family: "Stara", Helvetica;
    --stara-h1-stara-font-weight: 700;
    --stara-h1-stara-font-size: 64px;
    --stara-h1-stara-letter-spacing: 0px;
    --stara-h1-stara-line-height: normal;
    --stara-h1-stara-font-style: normal;
    --stara-text-stara-font-family: "Stara", Helvetica;
    --stara-text-stara-font-weight: 500;
    --stara-text-stara-font-size: 16px;
    --stara-text-stara-letter-spacing: 0px;
    --stara-text-stara-line-height: normal;
    --stara-text-stara-font-style: normal;
    --stara-buttons-stara-font-family: "Stara", Helvetica;
    --stara-buttons-stara-font-weight: 800;
    --stara-buttons-stara-font-size: 16px;
    --stara-buttons-stara-letter-spacing: 0px;
    --stara-buttons-stara-line-height: normal;
    --stara-buttons-stara-font-style: normal;
    --stara-h5-stara-font-family: "Stara", Helvetica;
    --stara-h5-stara-font-weight: 700;
    --stara-h5-stara-font-size: 32px;
    --stara-h5-stara-letter-spacing: 0px;
    --stara-h5-stara-line-height: 97.00000286102295%;
    --stara-h5-stara-font-style: normal;
    --stara-SMALL-TITLES-DOUBLE-LINES-font-family: "Stara", Helvetica;
    --stara-SMALL-TITLES-DOUBLE-LINES-font-weight: 700;
    --stara-SMALL-TITLES-DOUBLE-LINES-font-size: 24px;
    --stara-SMALL-TITLES-DOUBLE-LINES-letter-spacing: -0.24px;
    --stara-SMALL-TITLES-DOUBLE-LINES-line-height: 89.99999761581421%;
    --stara-SMALL-TITLES-DOUBLE-LINES-font-style: normal;
    --mofugu-text-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-text-mofugu-font-weight: 400;
    --mofugu-text-mofugu-font-size: 16px;
    --mofugu-text-mofugu-letter-spacing: 0px;
    --mofugu-text-mofugu-line-height: normal;
    --mofugu-text-mofugu-font-style: normal;
    --mofugu-buttons-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-buttons-mofugu-font-weight: 400;
    --mofugu-buttons-mofugu-font-size: 16px;
    --mofugu-buttons-mofugu-letter-spacing: 0px;
    --mofugu-buttons-mofugu-line-height: normal;
    --mofugu-buttons-mofugu-font-style: normal;
    --mofugu-subtitles-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-subtitles-mofugu-font-weight: 400;
    --mofugu-subtitles-mofugu-font-size: 20px;
    --mofugu-subtitles-mofugu-letter-spacing: 0px;
    --mofugu-subtitles-mofugu-line-height: normal;
    --mofugu-subtitles-mofugu-font-style: normal;
    --mofugu-h5-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-h5-mofugu-font-weight: 400;
    --mofugu-h5-mofugu-font-size: 32px;
    --mofugu-h5-mofugu-letter-spacing: 0px;
    --mofugu-h5-mofugu-line-height: normal;
    --mofugu-h5-mofugu-font-style: normal;
    --mofugu-h4-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-h4-mofugu-font-weight: 400;
    --mofugu-h4-mofugu-font-size: 36px;
    --mofugu-h4-mofugu-letter-spacing: 0px;
    --mofugu-h4-mofugu-line-height: normal;
    --mofugu-h4-mofugu-font-style: normal;
    --mofugu-h3-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-h3-mofugu-font-weight: 400;
    --mofugu-h3-mofugu-font-size: 40px;
    --mofugu-h3-mofugu-letter-spacing: 0px;
    --mofugu-h3-mofugu-line-height: normal;
    --mofugu-h3-mofugu-font-style: normal;
    --mofugu-h2-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-h2-mofugu-font-weight: 400;
    --mofugu-h2-mofugu-font-size: 48px;
    --mofugu-h2-mofugu-letter-spacing: 0px;
    --mofugu-h2-mofugu-line-height: normal;
    --mofugu-h2-mofugu-font-style: normal;
    --mofugu-h1-mofugu-font-family: "Mofugu", Helvetica;
    --mofugu-h1-mofugu-font-weight: 400;
    --mofugu-h1-mofugu-font-size: 64px;
    --mofugu-h1-mofugu-letter-spacing: 0px;
    --mofugu-h1-mofugu-line-height: normal;
    --mofugu-h1-mofugu-font-style: normal;
    --shadow-minimum-8px-5: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    --shadow-medium-13px-35: 0px 4px 13px 0px rgba(0, 0, 0, 0.35);
}
