@import url("./styleguide.css");
.logo-img {
    margin-bottom: -54px;
    height: 50px !important;
    margin-left: 30px;
}
.plataforma {
	margin-top: 10px;
}

.botao-menu {
	font-family: JetBrains Mono;
}
#menu {
	background: #06A77D;
	height: 65px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	height: 90%;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 95%;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;

}
#menu li {
	display: inline-block;
	position: relative;
	margin-top: -1px;
}
#menu a {
	
	display:inline;
	line-height: 45px;
	padding: 0 50px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
	font-family: JetBrains Mono;

}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
	text-align: center;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
	margin-top: 10;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 95%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	
	font-family: JetBrains Mono;
	height: auto;
	overflow: hidden;
	width: 100%;
	background: #FFFFF3;
	position: absolute;
	z-index: 99;
	display: none;
	margin-right: -40px;
	
}
#menu ul.sub-menus li {
	display: block;
	text-align: center;
	width: 95%;
	margin-right: -18px;
	
}
#menu ul.sub-menus a {
	color: #2A6AC0;
	font-size: 16px;
	text-align: center;
	padding: 8px;
	margin-right: 46px;

	
}
#menu li:hover ul.sub-menus {
	display: block;
	text-align: center;
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #2A6AC0;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#FFFFF3;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width: 95%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

